<!DOCTYPE html>
<html lang="en">
  <head>
   {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <!-- left side div  -->
            <div class="col-md-12 col-12 main_header_left align-items-center">
              <figure class="errimg">
                <img
                  src="img/Oops! 404 Error.png"
                  alt="404 Error image"
                  class="img_fluid"
                  title="sahiltechnical"
                />
              </figure>
            
              <p>Welcome to Weather App</p>
              <h1>{{errorMsg}}</h1>
              <a href="/"><button>Go Back</button></a>
            </div>
            <!-- right side div  -->
          </div>
        </div>
      </div>
    </div>

    <!-- footer code  -->
    {{>footer}}
  </body>
</html>