<!DOCTYPE html>
<html lang="en">

<head>
    
    {{!-- link  --}}
    {{>headerlinks}}

</head>

<body>

    {{!-- navbar --}}
    {{>navbar }}


    <!--  main header  -->
    <div class="containter-fluied main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right header  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="img/logo.png" alt="sahil" class="img-fluid" title="sahil koladiya">
                        </figure>
                    </div>
                    <!-- left header  -->
                <div class="col-md-6 col-12 main_header_left">
                    <p>Welcome to Weather App</p>
                    <h1> I AM A <span> Full Stack WebDeveloper, </span> Student And A 
                        Freelancer</h1>
                    <a href="/about"><button>About Me</button></a>
                </div>
                </div>
                
            </div>
        </div>
    </div>

    {{>footer}}

</body>

</html>